$red: red;
$blue: blue;
$white: #fff;
$black: #000;
$background: rgba(0, 0, 0, 0.5);
$btnColor: #3898ec;
$panelBackground: #fff;
$modalBackground: rgba(0, 0, 0, 0.6);
$border: rgba(0, 0, 0, 0.3);
$lightBlue: rgba($blue, 0.1);
$lightRed: rgba($red, 0.1);
